@media (max-width: 767px) and (min-width: 480px) {
  body {
    transition: 0.3s ease-in;
  }
  #app {
    margin: 30px auto;
  }
  .header {
    margin-left: 0;
    justify-content: center;
    &__logo img {
      max-width: 130px;
    }
  }
  .content {
    margin-top: 10px;
    &__left img {
      max-width: 200px;
      max-height: 200px;
    }
    &__heading {
      font-size: 24px;
      text-align: center;
    }
  }
  .form {
    &__title {
      transition: 0.3s ease-in;
      font-size: 12px;
      &_theme {
        width: 70px;
        top: -7px;
        right: 16px;
      }
      &_class-number {
        width: 40px;
        top: -7px;
        right: 8px;
      }
      &_lesson {
        width: 70px;
        top: -7px;
        right: 16px;
      }
    }
    &__inputs {
      transition: 0.3s ease-in;
      max-width: 300px;
    }
    &__block {
      max-width: 300px;
    }
    &__chips {
      max-width: 300px;
    }
    &__show_more {
      font-size: 12px;
    }
    &__purpose {
      max-width: 300px;
      &_input {
        max-width: 300px;
        font-size: 14px;
      }
    }
    &__first {
      &_input {
        font-size: 12px;
      }
    }
    &__button {
      font-size: 12px;
      padding: 10px 32px;
    }
    &__text_size {
      font-size: 10px;
    }
    &__list {
      width: 54px;
      height: 170px;
    }
    &__item {
      padding: 0px 12px;
      font-size: 14px;
    }
    &__head {
      &::after {
        right: 10px;
      }
    }
    &__first {
      height: 56px;
      &::after {
        width: 8px;
        height: 4px;
        right: 15px;
        transform: translateY(50%);
        transition: 0.2s ease-in;
      }
    }
  }
  .chips label {
    padding: 4px 10px;
    font-size: 12px;
  }
  .checked::after {
    right: 5px;
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 479px) {
  #app {
    margin: 30px auto;
  }
  .header {
    margin-left: 0;
    justify-content: center;
    &__logo img {
      max-width: 130px;
    }
  }
  .content {
    &__left img {
      max-width: 200px;
      max-height: 200px;
    }
    &__heading {
      font-size: 16px;
      text-align: center;
    }
  }
  .form {
    &__title {
      font-size: 10px;
      &_theme {
        width: 60px;
        top: -6px;
        right: 16px;
      }
      &_class-number {
        width: 30px;
        top: -6px;
        right: 8px;
      }
      &_lesson {
        width: 60px;
        top: -6px;
        right: 16px;
      }
    }
    &__inputs {
      max-width: 250px;
    }
    &__block {
      max-width: 250px;
    }
    &__chips {
      max-width: 250px;
    }
    &__show_more {
      font-size: 12px;
    }
    &__purpose {
      max-width: 250px;
      &_input {
        max-width: 250px;
        font-size: 14px;
      }
    }
    &__first {
      &_input {
        font-size: 12px;
      }
    }
    &__button {
      font-size: 12px;
      padding: 8px 24px;
    }
    &__text_size {
      font-size: 10px;
    }
    &__list {
      width: 46px;
      height: 170px;
    }
    &__item {
      font-size: 14px;
      padding: 0px 12px;
    }
    &__head {
      &::after {
        right: 10px;
      }
    }
    &__first {
      height: 56px;
      &::after {
        width: 6px;
        height: 3px;
        right: 10px;
        transform: translateY(50%);
        transition: 0.2s ease-in;
      }
    }
  }
  .chips label {
    padding: 2px 6px;
    font-size: 12px;
  }
  .checked::after {
    right: 5px;
    width: 14px;
    height: 14px;
  }
}
