* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --Black---text-primary: #343434;
  --Gray---text-tertiary: #9a9a9a;
  --Blue: #5cbefe;
  --Dark-blue: #3ca9f0;
  --light-gray-bg: #eeeff0;
  --light-gray-lines: #eaeaea;
  --light-gray-background: #d7d7d7b6;
}

.input-for-all {
  border: 1.25px solid var(--light-gray-lines);
  border-radius: 10px;
  padding: 17.5px 10px;
}

input:focus {
  outline: var(--Blue);
  transition: all 0.3s ease;
  border: 1.25px solid var(--Blue);
}

input:focus ~ .form__title_theme,
.form__title_theme:focus {
  color: #3ca9f0;
}

textarea:focus ~ .form__title,
.form__title:focus {
  color: #3ca9f0;
}

textarea:focus {
  transition: all 0.3s ease;
  outline: var(--Blue);
  border: 1.25px solid var(--Blue);
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto;
  max-width: 1920px;
}

.header {
  display: flex;
  margin-left: 151px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 79px;
  gap: 48px;
}
.content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.content__heading {
  color: var(--Black---text-primary);
  font-family: Roboto Slab;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  gap: 32px;
  position: relative;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.form__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.form__title {
  background-color: white;
  position: absolute;
  text-align: center;
  color: var(--Black---text-primary);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__title_theme {
  width: 90px;
  top: -10px;
  left: 14px;
}
.form__title_class-number {
  width: 50px;
  top: -10px;
  right: 58px;
}
.form__title_lesson {
  width: 90px;
  top: -10px;
  left: 14px;
}
.form__block {
  position: relative;
  display: flex;
  gap: 16px;
  max-width: 800px;
}
.form__first {
  height: 56px;
}
.form__first_input {
  width: 664px;
  overflow: hidden;
  color: var(--Black---text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__first_select {
  margin-left: 12px;
  width: 120px;
  cursor: pointer;
}
.form__head::after {
  width: 12px;
  height: 12px;
  background: #fff url(/static/picture/arrow-up.svg) no-repeat center/cover;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%) rotate(180deg);
  content: "";
  display: block;
  transition: 0.2s ease-in;
}
.form__input {
  position: absolute;
  width: 120px;
  cursor: pointer;
  opacity: 0;
  right: 0;
}
.form__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  padding-top: 10px;
  top: 50%;
  right: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  width: 120px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 100;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
  transition: all 1s ease;
}
.form__item {
  padding: 0px 16px;
  position: relative;
  color: var(--Black---text-primary);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.1s ease;
  line-height: normal;
}
.form__item:hover {
  background-color: var(--light-gray-background);
}
.form__option {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1.25px solid #eaeaea;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}
.form__chips {
  display: flex;
  width: 800px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
.form__chips_more {
  transition: all 0.3s ease-in;
}
.form__show_more {
  background: none;
  border: none;
  color: var(--Dark-blue);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__purpose {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__purpose_input {
  padding: 17px 10px 61px 10px;
  width: 800px;
  height: 100px;
  overflow: hidden;
}
.form__counter {
  display: flex;
  justify-content: space-between;
  text-align: end;
  margin-top: 2px;
  margin-right: 17px;
}
.form__counter_message {
  opacity: 0;
}
.form__text_size {
  font-size: 16px;
}
.form__buttons {
  display: flex;
  gap: 16px;
  margin-top: 9px;
}
.form__button {
  padding: 18px 52px;
  border-radius: 12px;
  border: 1px solid var(--Dark-blue);
  color: var(--Dark-blue);
  background: none;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form__button_no-active {
  border-radius: 12px;
  background: var(--light-gray-bg);
  border: none;
  color: var(--Gray---text-tertiary);
  transition: all 0.1s ease-in;
}

.form__button_active {
  color: #fff;
  text-align: center;
  border-radius: 12px;
  background: var(--Dark-blue);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.1s ease-in;
}

.chips label {
  cursor: pointer;
  display: flex;
  padding: 8px 14px;
  align-items: flex-start;
  gap: 6px;
  border-radius: 100px;
  background: var(--light-gray-bg);
  color: var(--Black---text-primary);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.chips input[type=checkbox] {
  position: absolute;
  display: none;
}

.chips label:hover {
  transition: all 0.3s ease;
  background: var(--light-gray-background);
}

.chips input[type=checkbox]:checked + label {
  background: var(--light-gray-background);
}

.hidden {
  display: none;
}

.error-border {
  border-color: red;
}

.error-text {
  color: red;
}

.error-text:focus ~ .form__title,
.form__title:focus {
  color: red;
}

.focus-border {
  outline: var(--Blue);
  transition: all 0.3s ease;
  border: 1.25px solid var(--Blue);
}

.focus-text {
  color: #3ca9f0;
}

.checked::after {
  background: #fff url(/static/picture/tick-circle.svg) no-repeat center/cover;
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  bottom: 12%;
  content: "";
  display: block;
  transition: 0.2s ease-in;
}

.open::after {
  transform: translateY(50%);
}

@media (max-width: 1535px) {
  .header {
    margin-left: 0;
    justify-content: center;
    transform: translateY(50%);
    transition: 0.2s ease-in;
  }
  .content {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    transition: 0.3s ease-in;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #app {
    margin: 30px auto;
  }
  .header {
    margin-left: 0;
    justify-content: center;
    transition: 0.3s ease-in;
  }
  .header__logo img {
    max-width: 150px;
  }
  .content {
    margin-top: 20px;
  }
  .content__left img {
    max-width: 400px;
    max-height: 400px;
  }
  .content__heading {
    font-size: 32px;
    text-align: center;
  }
  .content__right {
    gap: 30px;
  }
  .form {
    gap: 10px;
  }
  .form__title {
    transition: 0.3s ease-in;
    font-size: 14px;
  }
  .form__title_class-number {
    width: 50px;
    top: -10px;
    right: 16px;
  }
  .form__inputs {
    transition: 0.3s ease-in;
    max-width: 450px;
    gap: 28px;
  }
  .form__block {
    max-width: 450px;
  }
  .form__chips {
    max-width: 450px;
  }
  .form__show_more {
    font-size: 14px;
  }
  .form__purpose {
    max-width: 450px;
  }
  .form__purpose_input {
    max-width: 450px;
    font-size: 14px;
  }
  .form__first_input {
    font-size: 14px;
  }
  .form__button {
    font-size: 14px;
    padding: 12px 36px;
  }
  .form__text_size {
    font-size: 14px;
  }
  .form__list {
    width: 72px;
  }
  .form__head::after {
    right: 10px;
  }
  .checked::after {
    right: 10px;
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  body {
    transition: 0.3s ease-in;
  }
  #app {
    margin: 30px auto;
  }
  .header {
    margin-left: 0;
    justify-content: center;
  }
  .header__logo img {
    max-width: 80px;
  }
  .content {
    margin-top: 10px;
  }
  .content__left img {
    max-width: 200px;
    max-height: 200px;
  }
  .content__heading {
    font-size: 24px;
    text-align: center;
  }
  .form__title {
    transition: 0.3s ease-in;
    font-size: 12px;
  }
  .form__title_theme {
    width: 70px;
    top: -7px;
    right: 16px;
  }
  .form__title_class-number {
    width: 40px;
    top: -7px;
    right: 8px;
  }
  .form__title_lesson {
    width: 70px;
    top: -7px;
    right: 16px;
  }
  .form__inputs {
    transition: 0.3s ease-in;
    max-width: 300px;
  }
  .form__block {
    max-width: 300px;
  }
  .form__chips {
    max-width: 300px;
  }
  .form__show_more {
    font-size: 12px;
  }
  .form__purpose {
    max-width: 300px;
  }
  .form__purpose_input {
    max-width: 300px;
    font-size: 14px;
  }
  .form__first_input {
    font-size: 12px;
  }
  .form__button {
    font-size: 12px;
    padding: 10px 32px;
  }
  .form__text_size {
    font-size: 10px;
  }
  .form__list {
    width: 54px;
    height: 170px;
  }
  .form__item {
    padding: 0px 12px;
    font-size: 14px;
  }
  .form__head::after {
    right: 10px;
  }
  .form__first {
    height: 56px;
  }
  .form__first::after {
    width: 8px;
    height: 4px;
    right: 15px;
    transform: translateY(50%);
    transition: 0.2s ease-in;
  }
  .chips label {
    padding: 4px 10px;
    font-size: 12px;
  }
  .checked::after {
    right: 5px;
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 479px) {
  #app {
    margin: 30px auto;
  }
  .header {
    margin-left: 0;
    justify-content: center;
  }
  .header__logo img {
    max-width: 80px;
  }
  .content__left img {
    max-width: 200px;
    max-height: 200px;
  }
  .content__heading {
    font-size: 16px;
    text-align: center;
  }
  .form__title {
    font-size: 10px;
  }
  .form__title_theme {
    width: 60px;
    top: -6px;
    right: 16px;
  }
  .form__title_class-number {
    width: 30px;
    top: -6px;
    right: 8px;
  }
  .form__title_lesson {
    width: 60px;
    top: -6px;
    right: 16px;
  }
  .form__inputs {
    max-width: 250px;
  }
  .form__block {
    max-width: 250px;
  }
  .form__chips {
    max-width: 250px;
  }
  .form__show_more {
    font-size: 12px;
  }
  .form__purpose {
    max-width: 250px;
  }
  .form__purpose_input {
    max-width: 250px;
    font-size: 14px;
  }
  .form__first_input {
    font-size: 12px;
  }
  .form__button {
    font-size: 12px;
    padding: 8px 24px;
  }
  .form__text_size {
    font-size: 10px;
  }
  .form__list {
    width: 46px;
    height: 170px;
  }
  .form__item {
    font-size: 14px;
    padding: 0px 12px;
  }
  .form__head::after {
    right: 10px;
  }
  .form__first {
    height: 56px;
  }
  .form__first::after {
    width: 6px;
    height: 3px;
    right: 10px;
    transform: translateY(50%);
    transition: 0.2s ease-in;
  }
  .chips label {
    padding: 2px 6px;
    font-size: 12px;
  }
  .checked::after {
    right: 5px;
    width: 14px;
    height: 14px;
  }
}/*# sourceMappingURL=index.css.map */